<mat-grid-list cols="1" rowHeight="5:2" align="center" justify="center">
  <mat-grid-tile>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="loginForm">
          <h4 class="mb-32">Bem-vindo App</h4>
          <span class="d-block f-w-500 d-block m-t-10 m-b-30">Novo no App?
            <a class="text-decoration-none text-accent f-w-500 f-s-14" routerLink="/cadastrar"> Crie a sua conta
              aqui</a>
          </span>
          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" placeholder="Entre com usuário">
            <mat-error class="fs-12" *ngIf="loginForm.get('email')?.hasError('required')">
              O email é obrigatório.
            </mat-error>
            <mat-error class="fs-12" *ngIf="loginForm.get('email')?.hasError('email')">
              Email inválido.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="w-100 fs-16" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Enter your password">
            <mat-error class="fs-12" *ngIf="loginForm.get('password')?.hasError('required')">
              A senha é obrigatória.
            </mat-error>
            <mat-error class="fs-12" *ngIf="loginForm.get('password')?.hasError('minlength')">
              A senha deve ter pelo menos 6 caracteres.
            </mat-error>
            <mat-error class="fs-12" *ngIf="loginForm.get('password')?.hasError('senhaIncorreta')">
              Senha incorreta. Por favor, verifique novamente.
            </mat-error>
          </mat-form-field>

          <button mat-raised-button class="w-100 me-8 mb-8 fw-normal" color="primary" [disabled]="loginForm.invalid" (click)="authentication()">Entrar</button>
        </form>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
