.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}

.m-r-8 {
  margin-right: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.success-snackbar {
  background-color: #4CAF50 !important;
  color: #fff !important;
}

.feather-base {
  width: 14px !important;
  height: 14px !important;
}




.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1;
}

.mat-toolbar {
  background-color: transparent; /* Define a cor de fundo como transparente */
}

.mat-toolbar-row {
  background-color: transparent; /* Define a cor de fundo da linha como transparente */
}
