<!-- Daily Activity -->
<mat-card class="w-100">
  <mat-card-content>
    <mat-toolbar>
      <h4 class="mb-56">Usuários</h4>
      <span class="spacer"></span>
      <button mat-raised-button class="me-8 mb-8 cl" color="primary" (click)="cadastraNovosUsuarios()">
        <i-feather name="user" class="mt-n3 feather-base text-dark me-4"></i-feather>
        <span class="text-white">Cadastrar Usuário</span>
      </button>
    </mat-toolbar>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="text-nowrap w-100">
        <!-- Nome Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium op-5">{{element.firstName}}</p>
          </td>
        </ng-container>

        <!-- Sobrenome Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium op-5">{{element.lastName}}</p>
          </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium op-5">{{element.email}}</p>
          </td>
        </ng-container>

        <!-- Permission Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Permissão </th>
          <td mat-cell *matCellDef="let element">
            <span class="badge rounded-pill" [ngClass]="getBadgeClasses(element.role)">{{element.role}}</span>
          </td>
        </ng-container>

        <!-- Senha Column -->
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Senha </th>
          <td mat-cell *matCellDef="let element">
            <p class="mb-0 fw-medium">{{element.password ? '********' : ''}}</p>
          </td>
        </ng-container>

        <!-- Ações Column -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Ações </th>
          <td mat-cell *matCellDef="let element">
            <a class="m-r-8 cursor-pointer">
              <i-feather name="edit" class="mt-n3 feather-base text-dark" (click)="editarUsuario(element.id)"></i-feather>
            </a>
            <a class="m-r-8 cursor-pointer">
              <i-feather name="trash" class="mt-n3 feather-base text-dark" (click)="removerUsuario(element.id)"></i-feather>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
