/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #153d77;
  --secondary-color: #6c757d;
  --white-color: #fff;
  --success-color: #198754;
  --delete-color: #dc3545;
  --background-color: #f2f2f2;
}

.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: var(--success-color);
  --mat-mdc-snack-bar-button-color: var(--white-color);
}
